
<style>
    p {
     text-align:center
    }
    </style>
    
<h1><center>Student Data</center></h1>


<div class="container">

    <div class="row row-cols-4">
        <div class="col"> <h2>Name </h2></div>
        <div class="col"><h2>Email</h2></div>
        <div class="col"><h2> Address</h2></div>
        <div class="col"> <h2>Cours</h2></div>
    </div>


    <div class="row row-cols-4">
        <div class="col"> <h2>Soham Patel</h2></div>
        <div class="col"><h2>Soham@gmail.com</h2></div>
        <div class="col"><h2>Mumbai</h2></div>
        <div class="col"><h2>science</h2></div>
      </div>

      <div class="row row-cols-4">
        <div class="col"><h2>Mohit Sharma</h2> </div>
        <div class="col"><h2>Mohit@gmail.com</h2></div>
        <div class="col"><h2>Noida</h2></div>
        <div class="col"><h2>Science</h2></div>
      </div>

      <div class="row row-cols-4">
        <div class="col"><h2>Vikas  Gupta </h2></div>
        <div class="col"><h2>Vikas@gmail.com</h2></div>
        <div class="col"><h2>Greter Noida</h2></div>
        <div class="col"><h2>Arts</h2></div>
      </div>

      <div class="row row-cols-4">
        <div class="col"><h2>Kumar Varma</h2></div>
        <div class="col"><h2>Kumar@gmail.com</h2></div>
        <div class="col"><h2>Pune</h2></div>
        <div class="col"><h2>Science</h2></div>
      </div>
      <div class="row row-cols-4">
        <div class="col"><h2>Anurg </h2></div>
        <div class="col"><h2>Anurag</h2></div>
        <div class="col"><h2>Address</h2></div>
        <div class="col"><h2>Science</h2></div>
      </div>

  </div>